<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/contact" method="POST">
      <label for="name">full name</label>
      <input type="text" name="name" id="name">
      <label for="name">email address</label>
      <input type="email" name="email" id="email">
      <label for="name">message</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <button type="submit">submit</button>
    </form>
    <ul>
      <% if (result !== null) { %>
        <li>name: <%= result.name %></li>
        <li>email: <%= result.email %></li>
        <li>message <%= result.message %></li>
      <% } else if (errors !== null) { %>
        <% for (let error of errors) { %>
          <li style="color: red;">error: <%= error.msg %></li>
        <% } %>
      <% } %>
      </ul>
  </body>
</html>
